
* {
	font-family: ubuntu, sans-serif;
	box-sizing: border-box;
	font-size: 25px;
}

::selection {
	color: rgba(0,255,0,1);
	background: rgba(0,0,0,1);
}

a {
	color: rgba(210,0,0,1);
	text-decoration: none;
}
a:visited {
	color: rgba(150,0,60,1);
}
a:hover {
	color: rgba(255,255,255,1);
}

body {
	background: linear-gradient(90deg,
		rgba(255,170,0,1) 0%,
		rgba(255,89,237,1) 45%,
		rgba(255,89,237,1) 55%,
		rgba(255,170,0,1) 100%
	);
}

header {
	text-align: center;
	margin: 60px;
}
header h1 {
	font-size: 35px;
	font-weight: normal;
	margin: -10px;
}
header h2 {
	font-size: 17px;
	font-weight: normal;
}

.horizontal {
	display: flex;
	justify-content: center;
}

.col {
	float: left;
	padding: 10px;
	margin: 5px
}

.col.left {
	width: 10%;
	align-items: flex-start;
	align-content: stretch;
}
.col.left a {
	display: block;
	width: 100%;
	padding: 2px;
	margin-bottom: 5px;
}

.col.left a:hover {
	background-color: rgba(0,0,0,1);
}

.col.center {
	width: 50%;
}

.item {
	margin-bottom: 20px;
}

.col.right {
	width: 10%;
}

.horizontal:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	margin-top: 100px;
	font-size: 15px;
	display: flex;
	align-content: center;
	justify-content: center;
}

footer a {
	display: flexbox;
	padding: 10px;
}

footer .github {
	mix-blend-mode: multiply;
}
