
* {
	font-family: ubuntu, sans-serif;
	box-sizing: border-box;
	font-size: 25px;
}

a {
	color: rgba(210,0,0,1);
	text-decoration: none;
}
a:visited {
	color: rgba(150,0,60,1);
}
a:hover {
	color: rgba(255,255,255,1);
}

body {
	background: linear-gradient(90deg,
		rgba(255,170,0,1) 0%,
		rgba(255,89,237,1) 50%,
		rgba(255,170,0,1) 100%
	);
}

header {
	text-align: center;
	font-size: 35px;
	margin: 40px;
}

.col {
	float: left;
	padding: 10px;
}

.col.left {
	width: 25%;
}

.col.center {
	width: 50%;
}

.item {
	margin-bottom: 20px;
}

.col.right {
	width: 25%;
}

.horizontal:after {
	content: "";
	display: table;
	clear: both;
}

footer {
	font-size: 10px;
}
